@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/navigation';

@layer base {
    :root {
        --main-color: rgb(00, 251, 249);
        --bg-color: rgb(0, 0, 0);
    }

    html {
        font-family: 'Inter', sans-serif;
        background-color: var(--bg-color);
    }

    body {
        overflow-x: hidden;
        text-rendering: optimizeLegibility;

        cursor: default;
        -webkit-user-select: none;
        user-select: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none !important;
    }

    .swiper-button-disabled {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}

@theme {
    --breakpoint-xs: 30rem;
}

@layer utilities {
    .text-xs {
        font-size: 0.8rem;
    }

    .padding-page {
        @apply px-5 lg:px-10 xl:px-15;
    }

    .margin-page {
        @apply mx-5 lg:mx-10 xl:mx-15;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .hover-animation {
        @apply hover:-translate-y-1 transition-transform duration-200 will-change-transform;
    }

    .bg-overlay-gradient-b-l-to-t-r {
        background-image: linear-gradient(100deg, #0000008c 1%, #0000 5%), linear-gradient(to right, #000000d9 0%, #00000080 15%, #0000 35%),
            linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-overlay-gradient-b-to-t {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-gradient-neutral-to-black {
        background-image: linear-gradient(to bottom, #262626 0%, #000000 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-linear-gradient {
        background-image: linear-gradient(39deg, rgb(160, 89, 254), rgb(253, 204, 255));
    }

    .main-button {
        @apply flex items-center justify-center px-5 truncate rounded-lg border-2 border-white/25 bg-neutral-900/25 hover:bg-neutral-800/50 font-semibold text-base md:text-lg transition-all duration-500;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        scale: 1;
    }

    .mask::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        background: linear-gradient(-40deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 430%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2));
    }

    .mask::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-mask-image: linear-gradient(-45deg, black, transparent 50%);
        mask-image: linear-gradient(-45deg, black, transparent 50%);
        background-image: url(src/constants/images/wave.png);
        background-repeat: no-repeat;
        background-size: 200px 140px;
        background-position: 100% 100%;
        opacity: 0.5;
    }

    .clip-custom-shape-left {
        -webkit-clip-path: polygon(
            5.761% 100%,
            94.239% 100%,
            94.239% 100%,
            95.174% 99.95%,
            96.06% 99.803%,
            96.887% 99.569%,
            97.642% 99.256%,
            98.313% 98.87%,
            98.889% 98.421%,
            99.357% 97.915%,
            99.706% 97.362%,
            99.925% 96.768%,
            100% 96.142%,
            100% 3.858%,
            100% 3.858%,
            99.913% 3.185%,
            99.662% 2.552%,
            99.263% 1.968%,
            98.731% 1.442%,
            98.08% 0.984%,
            97.328% 0.602%,
            96.488% 0.306%,
            95.577% 0.105%,
            94.609% 0.008%,
            93.6% 0.024%,
            5.121% 6.625%,
            5.121% 6.625%,
            4.269% 6.732%,
            3.468% 6.919%,
            2.728% 7.178%,
            2.058% 7.503%,
            1.467% 7.887%,
            0.962% 8.323%,
            0.555% 8.805%,
            0.253% 9.326%,
            0.065% 9.88%,
            0 10.459%,
            0 96.142%,
            0 96.142%,
            0.075% 96.768%,
            0.294% 97.362%,
            0.643% 97.915%,
            1.111% 98.421%,
            1.687% 98.87%,
            2.358% 99.256%,
            3.113% 99.569%,
            3.94% 99.803%,
            4.826% 99.95%,
            5.761% 100%
        );
        clip-path: polygon(
            5.761% 100%,
            94.239% 100%,
            94.239% 100%,
            95.174% 99.95%,
            96.06% 99.803%,
            96.887% 99.569%,
            97.642% 99.256%,
            98.313% 98.87%,
            98.889% 98.421%,
            99.357% 97.915%,
            99.706% 97.362%,
            99.925% 96.768%,
            100% 96.142%,
            100% 3.858%,
            100% 3.858%,
            99.913% 3.185%,
            99.662% 2.552%,
            99.263% 1.968%,
            98.731% 1.442%,
            98.08% 0.984%,
            97.328% 0.602%,
            96.488% 0.306%,
            95.577% 0.105%,
            94.609% 0.008%,
            93.6% 0.024%,
            5.121% 6.625%,
            5.121% 6.625%,
            4.269% 6.732%,
            3.468% 6.919%,
            2.728% 7.178%,
            2.058% 7.503%,
            1.467% 7.887%,
            0.962% 8.323%,
            0.555% 8.805%,
            0.253% 9.326%,
            0.065% 9.88%,
            0 10.459%,
            0 96.142%,
            0 96.142%,
            0.075% 96.768%,
            0.294% 97.362%,
            0.643% 97.915%,
            1.111% 98.421%,
            1.687% 98.87%,
            2.358% 99.256%,
            3.113% 99.569%,
            3.94% 99.803%,
            4.826% 99.95%,
            5.761% 100%
        );
    }
    .clip-custom-shape-right {
        -webkit-clip-path: polygon(
            94.239% 100%,
            5.761% 100%,
            5.761% 100%,
            4.826% 99.95%,
            3.94% 99.803%,
            3.113% 99.569%,
            2.358% 99.256%,
            1.687% 98.87%,
            1.111% 98.421%,
            0.643% 97.915%,
            0.294% 97.362%,
            0.075% 96.768%,
            0 96.142%,
            0 3.858%,
            0 3.858%,
            0.087% 3.185%,
            0.338% 2.552%,
            0.737% 1.968%,
            1.269% 1.442%,
            1.92% 0.984%,
            2.672% 0.602%,
            3.512% 0.306%,
            4.423% 0.105%,
            5.391% 0.008%,
            6.4% 0.024%,
            94.879% 6.625%,
            94.879% 6.625%,
            95.731% 6.732%,
            96.532% 6.919%,
            97.272% 7.178%,
            97.942% 7.503%,
            98.533% 7.887%,
            99.038% 8.323%,
            99.445% 8.805%,
            99.747% 9.326%,
            99.935% 9.88%,
            100% 10.459%,
            100% 96.142%,
            100% 96.142%,
            99.925% 96.768%,
            99.706% 97.362%,
            99.357% 97.915%,
            98.889% 98.421%,
            98.313% 98.87%,
            97.642% 99.256%,
            96.887% 99.569%,
            96.06% 99.803%,
            95.174% 99.95%,
            94.239% 100%
        );

        clip-path: polygon(
            94.239% 100%,
            5.761% 100%,
            5.761% 100%,
            4.826% 99.95%,
            3.94% 99.803%,
            3.113% 99.569%,
            2.358% 99.256%,
            1.687% 98.87%,
            1.111% 98.421%,
            0.643% 97.915%,
            0.294% 97.362%,
            0.075% 96.768%,
            0 96.142%,
            0 3.858%,
            0 3.858%,
            0.087% 3.185%,
            0.338% 2.552%,
            0.737% 1.968%,
            1.269% 1.442%,
            1.92% 0.984%,
            2.672% 0.602%,
            3.512% 0.306%,
            4.423% 0.105%,
            5.391% 0.008%,
            6.4% 0.024%,
            94.879% 6.625%,
            94.879% 6.625%,
            95.731% 6.732%,
            96.532% 6.919%,
            97.272% 7.178%,
            97.942% 7.503%,
            98.533% 7.887%,
            99.038% 8.323%,
            99.445% 8.805%,
            99.747% 9.326%,
            99.935% 9.88%,
            100% 10.459%,
            100% 96.142%,
            100% 96.142%,
            99.925% 96.768%,
            99.706% 97.362%,
            99.357% 97.915%,
            98.889% 98.421%,
            98.313% 98.87%,
            97.642% 99.256%,
            96.887% 99.569%,
            96.06% 99.803%,
            95.174% 99.95%,
            94.239% 100%
        );
    }

    .hide-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .scrollbar-tracking {
        grid-auto-columns: calc(100% / 2);
        scroll-padding-inline: 1.25rem;
    }

    @media (min-width: 30rem) {
        .scrollbar-tracking {
            grid-auto-columns: calc(100% / 3);
            scroll-padding-inline: 1.25rem;
        }
    }

    @media (min-width: 40rem) {
        .scrollbar-tracking {
            grid-auto-columns: unset;
            scroll-padding-inline: unset;
        }
    }
}
